.navbar.navbar-inverse.navbar-static-top{
	background: #4682B4;
}

.panel-default{
	margin-left: 10px;
	margin-right: 10px;
}

.navbar-brand{
	padding: 0px;
}

.panel-title{
	font-size: 26px;
	color: #104E8B;
	margin-left: 15px;
	margin-top: 10px;
}