.navbar.navbar-inverse.navbar-static-top{
	background: #363636;
}

.card{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.navbar-brand{
	padding: 0px;
}

.card-header{
	padding: 0;
}

.card-title{
	padding: 0;
	margin-top: 5px;
	color: #104E8B;
	margin-left: 15px;
}

.alert{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}
.lac-title-panel{
	float: left;
	
}
.lac-link-panel{
	float: right;
	text-decoration: none; 
	color: #104E8B;
}

.lac-link-panel:hover, .lac-link-panel:active {
	text-decoration: none; 
	color: #104E8B;
}

.col-form-label{
	padding-bottom: 1px;
}

.card-body{
	padding: 5px;;
}	