<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="LayoutPadrao">

<head>
	<title>Cadastro de título</title>
</head>

<section layout:fragment="conteudo">		    
	    <form class="form-control-sm" method="POST" action="/titulos" th:object="${titulo}">
			
			<header layout:insert="MensagemGeral"></header>
			<header layout:insert="MensagemErro"></header>
	    	<div class="card">
	    		<div class="card-header">
	    			<div class="clearfix">
		    			<h5 class="card-title lac-title-panel">Novo título</h5>
		    			<a class="btn btn-link lac-link-panel" href="/titulos">Voltar a pesquisa</a>
	    			</div>
	    		</div>
	    		
	    		<div class="card-body">
	    			<input type="hidden" th:field="*{id}">
					<div class="form-group" >
						<label for="descricao" class="col-sm-4 col-md-4 col-lg-2 col-form-label"
							th:classappend="${#fields.hasErrors('descricao')} ? text-danger">Descrição</label>
						<div class="col-sm-8 col-md-8 col-lg-4 "> 
							<input type="text" class="form-control" id="descricao" th:field="*{descricao}"/>
						</div>
						
						<label for="dataVencimento" class="col-sm-4 col-md-4 col-lg-2  col-form-label"
							th:classappend="${#fields.hasErrors('dataVencimento')} ? text-danger">Data de vencimento</label>
						<div class="col-sm-4 col-md-4 col-lg-2 ">  
							<input type="text" class="form-control"	id="dataVencimento" th:field="*{dataVencimento}" />
						</div>
						<label for="valor" class="col-sm-4 col-md-4 col-lg-2  col-form-label" 
							th:classappend="${#fields.hasErrors('valor')} ? text-danger">Valor</label>
						<div class="col-sm-4 col-md-4 col-lg-2">   
							<input type="text" class="form-control" id="valor" th:field="*{valor}" />
						</div>
						
						<label for="status" class="col-sm-4 col-md-4 col-lg-2 col-form-label">Status</label>
						<div class="col-sm-4 col-md-4 col-lg-2">
							<select class="form-control" name="status">
								<option th:each="status : ${carregarStatusTitulo}" th:value="${status}" th:text="${status.descricao}"></option>
	                    	</select>
	                    </div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-md-offset-4 col-lg-offset-2 col-sm-8 col-md-8 col-lg-10">
							<button type="submit" class="btn btn-secundary">Salvar</button>
						</div>
					</div>
				</div>
	    	</div>
	    </form>
</section>	
    
</html>