<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
<head >
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Cobrança</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/css/all.min.css"/>
	<link rel="stylesheet" type="fonts" href="/webfonts/*"/>
	
	
</head>

<body >

	<header layout:insert="Cabecalho"></header>
		    
	<section layout:fragment="conteudo">
	<p>This is a paragraph from the content page</p>
	</section>
		    
		    
		<script src="/js/popper.min.js"></script>	
		<script src="/js/jquery-3.3.1.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/all.min.js"></script>
		<script src="/js/cobranca.js"></script>	
</body>
</html>		    