<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layoutPadrao}"
    >
	  
<head>
	<title>Pesquisa de títulos</title>
</head>

<section layout:fragment="conteudo">
	<header layout:insert="MensagemGeral"></header>
	    <div class="card">
	    		<div class="card-header">
	    			<div class="clearfix">
		    			<h5 class="card-title lac-title-panel">Pesquisa de títulos</h5>
		    			<a class="btn btn-link lac-link-panel" href="/titulos/novo">Novo título</a>
	    			</div>
	    		</div>
		
			<div class="card-body">
			
			<form  method="get" class="row" action="/titulos" th:object="${filtro}">
				 <div class="col-sm-3 my-1">
			 	      <div class="input-group">
        				<div class="input-group-prepend">
        				</div>
        					<input type="text" class="form-control" placeholder="Pesquise o título" autofocus="autofocus" th:field="*{descricao}">
          						<button class="input-group-text" type="submit">
          							<i class="fas fa-search" style="color: gray;" ></i>
							</button>
     			 </div>
    			</div>
			</form>
				<div class="table-responsive">
						<table class="table table-bordered table-striped table-sm">
							  <thead >
							    <tr >
							      <th class="text-center"  scope="col" >#</th>
							      <th class="text-left" width="36%"   scope="col" >Descrição</th>
							      <th class="text-center"  scope="col">Vencimento</th>
							      <th class="text-right"   scope="col">Valor</th>
							      <th class="text-center"  scope="col" >Status</th>
							      <th class="text-center"  scope="col" >Edição</th>
							    </tr>
							  </thead>
							  <tbody >
							  	<tr th:each="titulo : ${titulos}">
							  		<td class="text-center" th:text="${titulo.id}"></td>
							  		<td class="text-left" th:text="${titulo.descricao}"></td>
							  		<td class="text-center" th:text="${#temporals.format(titulo.dataVencimento, 'dd/MM/yyyy')}"></td>
							  		<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
							  		<td class="text-center" th:attr="data-role=${titulo.id}">
							  			<span class="badge" th:text="${titulo.status.descricao}"
							  			th:classappend="${titulo.pendente ? 'badge-danger' : 'badge-success'}"></span>
							  		</td>
							  		<td class="text-center" >
							  			
								  		<a class="btn btn-link" th:href="@{/titulos/{id}(id=${titulo.id})}" style="padding: 0;"
								  				title="editar" rel="tooltip" data-placement="top">
								  			<span class="far fa-edit" style="color: #36648B" ></span>
								  		</a>
								  		<a class="btn btn-link" style="padding: 0;" data-toggle="modal" data-target="#confirmacaoEclusaoModal" 
								  				th:attr="data-id=${titulo.id}, data-descricao=${titulo.descricao}" 
								  				rel="tooltip" title="excluir" data-placement="top">
								  			<span class="fas fa-trash" style="color: #dc3545"></span>
								  		</a>
								  		
  								  		<a class="btn btn-link js-atualizar-status" style="padding: 0;" th:if="${titulo.pendente}" th:attr="data-id=${titulo.id}"
								  				rel="tooltip" title="receber" data-placement="top" th:href="@{/titulos/{id}/receber(id=${titulo.id})}">
								  			<span class="far fa-check-circle" style="color: green"></span>
								  		</a>	
								  		
							  		</td>
							  	</tr>	
							    <tr>
							      <td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum valor encontrado</td>
							    </tr>
							  </tbody>
						</table>
					</div>
			</div>
			
			<div layout:insert="DialogConfirmacaoExclusao"></div>
		
		</div>
		
</section>
</html>